<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>Show Page</h1>
    <h1>: Here is your comment that you are looking for : </h1>
    <section>
        <h3>comment-id  <%= foundComment.id %></h3> 
        <p><strong> <%= foundComment.username %> </strong></p>
        <p><%= foundComment.comment %></p>
    </section>
    
</body>
</html>